:root {
/* Шрифт */
--main-font: "Roboto";
--secondary-font: "Raleway";
/* Цвет основного текста (черный) */
--black-color:#212121;
/* Вторичный цвет (серый)*/
 --grey-color: #757575;
--grey-color-icon: #AFB1B8;
/* Белый текст и фон */
--white-bg-color: #ffffff;
/* Акцент цвета */
--accent-color: #2196F3;
/* Разное */
--accent-color-bg: #188CE8;
--bg-color-photo: #F5F4FA;
--color-sidebar: #2F303A;
/* Анимации */
--anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
font-family: var(--main-font), sans-serif;
font-size: 14px;
background-color: var(--white-bg-color);
color:var(--black-color);
}

.no-scroll {
overflow: hidden;
}

.link {
text-decoration: none;
}

.list {
padding: 0;
margin: 0;
list-style: none;
}

.conteiner {
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
width: 1200px;
}

.section-nav {
border: 1px solid #ECECEC;

padding: 0px;
padding-top: 25px;
padding-bottom: 25px;
margin: auto;
}

.section-hero {
padding-bottom: 200px;
padding-top: 200px;
margin: 0px;
text-align: center;
background-color: var(--color-sidebar);
background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(..//images/hero/Hero-team.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.hero-text {
width: 696px;
}

.section-benefits {
margin: 0px;
padding-top: 94px;
padding-bottom: 94px;
}

.section-work {
padding-bottom: 94px;
margin: 0px;
}

.work-list {
display: flex;
}

.work-items:last-child {
margin-right: 0px;
}

.work-items {
margin-right: 30px;
}

.img-wrapper {
position: relative;
}

.work-items-txt {
background-color: rgba(47,48,58, 0.8);
position: absolute;
bottom: 0;
left: 0;
margin: 0;
display: flex;
justify-content: center;
align-items: center;

height: 70px;
width: 100%;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
    
color: var(--white-bg-color);
}

.team-list {
display: flex;
padding-bottom: 94px;
}
.section-team {
margin-bottom: 0px;
padding-top: 94px;
background-color: var(--bg-color-photo);
}

.logo-position {
margin-right: 93px;
}
.address-mar {
margin-bottom: 9px;
}
.h2-margin {
margin-bottom: 50px;
}

.img-p {
margin-bottom: 20px;
}

.nav-list {
margin-right: 305px;
display: flex;
}

.nav-list .nav-item:not(:last-child) {
margin-right: 50px;
}
.nav-flex {
display: flex;
align-items: center;
}

.header-list-address {
display: flex;
}

.btn-filter-port {
padding-top: 94px;
padding-bottom: 94px;
}

.filter-panel {
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
padding: auto;

display: flex;
justify-content: center;
}

.section-project {
padding: 0px;
margin-left: auto;
margin-right: auto;
}

.project-list {
display: flex;
flex-wrap: wrap;
}

.project-item:last-child {
margin-right: 0px;
}

.project-item {

width: 370px;
margin-right: 30px;
margin-bottom: 30px;
border-bottom: 1px solid #ECECEC;
box-sizing: border-box;
background: var(--white-bg-color);

transition: box-shadow var(--anim);
}

.project-item:nth-child(3n) {
margin-right: 0px;
}

.project-item:nth-last-child(-n + 3) {
margin-bottom: 0px;
}
.project-item:hover,
.project-item:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-namecompany {
margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--black-color);
}
    
.project-class {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--grey-color);
}
/* ----------------------------------------------------Портфолио Оверлей--------------------------------------------------------- */
.project-div {
position: relative;
overflow: hidden;
}

.project-desc {
position: absolute;

top: 0;
left: 0;

transform: translateY(100%);

display: flex;
justify-content: center;
align-items: center; 
text-align: left;
margin: 0;
padding: 63px 24px;
width: 100%;
height: 100%;
    
color: var(--white-bg-color);
background-color: rgba(33, 150, 243, 0.9); 
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
transition: transform var(--anim);
}

.project-item:hover .project-desc,
.project-item:focus .project-desc {
transform: translateY(0%);
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

.header-box {
margin-right: auto;
}

.logo {
display: block;

font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.logo-footer {
margin-bottom: 20px;
}

.span-web {
color: var(--black-color); 
}
.span-web-footer {
color: var(--white-bg-color);
}

.nav-btn {
padding: 32px 0 31px 0;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--black-color);

transition: color var(--anim);
}

.mailtel {
display: flex;
align-items: center;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--grey-color);

transition: color var(--anim);
}
.nav-btn:hover,
.nav-btn:focus,
.mailtel:hover,
.mailtel:focus {
color: var(--accent-color);
}

.margin-tel {
margin-right: 0px;
}

.button {
border: 1px solid transparenret;
}

.button-margin {
margin-right: 8px;
}

.btn-port {
display: flex;
text-align: center;

padding: 6px 22px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
border-radius: 4px;
border: 1px solid transparent;
color: var(--black-color);
background-color: var(--bg-color-photo);

transition: color var(--anim), background-color var(--anim), border-radius var(--anim), border var(--anim), box-shadow var(--anim);
}
.btn-port:hover,
.btn-port:focus {
color: var(--white-bg-color);
background-color: var(--accent-color);
border-radius: 4px;
border: 1px solid transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* --------------------------------------------Статическое подчеркивание (кнопки хедера)-------------------------------------------- */
.curent-static {
    color: var(--accent-color);
    position: relative;
    }
    
    .curent-static::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: inline-block;
    background-color: var(--accent-color);
    }

/* --------------------------------------------Подчеркивание ховер-фокус (кнопки хедера)-------------------------------------------- */
.curent {
position: relative;
}

.curent::after {
content: "";
position: absolute;
bottom: -1px;
left: 0;

width: 100%;
height: 4px;
border-radius: 2px;
display: inline-block;
background-color: #FFFFFF;
transition: background-color var(--anim);
}

.curent:hover::after,
.curent:focus::after {
background-color: var(--accent-color);
}
/* --------------------------------------------------------------------------------------------------------------------------------- */
.hero-caption {
display: flex;
justify-content: space-around;

margin-bottom: 30px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
align-items: center;
text-align: center;
text-transform: uppercase;
color: var(--white-bg-color);
}

.main-hero, footer {
background: var(--color-sidebar);
}
.hero-button {
padding: 10px 32px;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--white-bg-color);
font-family: inherit;
cursor: pointer;
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 1px solid transparent;

transition: background-color var(--anim), box-shadow var(--anim), border-radius var(--anim);
}

.hero-button:hover,
.hero-button:focus {
background-color: var(--accent-color-bg);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.benefits-list {
display: flex;
}
.benefits-item {
width:270px;
}

.txt-allign {
padding: 20px 24px;
border-bottom: 1px solid #ECECEC;
border-left: 1px solid #ECECEC;
border-right: 1px solid #ECECEC;
}

.benefits-list .benefits-item:not(:last-child) {
margin-right: 30px;
}

.benefits-caption {
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--black-color);

}
.benefits-subtitle {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--grey-color);
}

.image, .image-p {
display: block;
max-width: 100%;
height: auto;
}

.team-item {
margin-right: 30px;

width: 270px;
top: 1635px;
background: var(--white-bg-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
margin-right: 0px;
}

.comand-name {
padding-top: 30px;
padding-bottom: 30px;
}

.team-name {
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--black-color);
background-color: var(--white-bg-color);
}
.team-job {
margin-bottom: 16px;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--grey-color)
}

.footer {
padding-top: 60px;
padding-bottom: 60px;
}

.conteiner-footer {
display: flex;
}

.conteiner-social {
margin-left: 70px;
}

.googlemaps {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--white-bg-color);
font-style: normal;
}
.footer-list-address .mail-tel {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:rgba(255, 255, 255, 0.6);
}

.footer-strong {
margin-bottom: 20px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}

.social-media  {
display: flex;
justify-content: center;
}

.social-media-item:not(:last-child) {
margin-right: 10px;
}

.social-media-link {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
color: var(--grey-color-icon);
background-color: var(--white-bg-color);
border-radius: 50%;

transition: color var(--anim), background-color var(--anim);
}

.social-media-link:hover,
.social-media-link:focus {
color: var(--white-bg-color);
background-color: var(--accent-color-bg);
}
.social-media-icon {
fill: currentColor;
}

.social-footer-item:not(:last-child) {
margin-right: 10px;
}

.social-media-footer  {
display: flex;
justify-content: center;
}

.social-footer-link {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
color: var(--white-bg-color);
background-color: rgba(255, 255, 255, 0.1);
border-radius: 50%;

transition: color var(--anim), background-color var(--anim);
}
.social-footer-link:hover,
.social-footer-link:focus {
color: var(--white-bg-color);
background-color: var(--accent-color-bg);
}
.social-footer-icon {
fill: currentColor;
}

.conteiner-clients  {
padding-top: 94px;
}
.clients-list {
display: flex;
justify-content: center;
padding-bottom: 94px;
}

.clients-item:not(:last-child) {
margin-right: 30px;
}

.card-clients-list {
display: flex;
align-items: center;
justify-content: center;
width: 170px;
height: 92px;
color: var(--grey-color-icon);
border: 1px solid var(--grey-color-icon);
border-radius: 4px;
transition: color var(--anim), border var(--anim);
}

.card-clients-list:hover,
.card-clients-list:focus  {
color: var(--accent-color);
border: 1px solid var(--accent-color);
}

.social-clients-icon {
fill: currentColor;
} 

.benefits-list-icon  {
display: flex;
align-items: center;
justify-content: center;
}
.benefits-svg  {
margin-bottom: 30px;
width: 270px;
height: 120px;
display: flex;
align-items: center;
justify-content: center;
background: #F5F4FA;
border-radius: 4px;
}

.icon {
margin-right: 10px;
fill: currentColor;
}

.mailtel-mail {
margin-right: 30px;
}
/*------------------------------------------------ Модальное окно----------------------------------------------- */
.backdrop-btn {
position: fixed;
top: 0;
left: 0;
z-index: 1000;

width: 100%;
height: 100%;

background-color: rgba(0, 0, 0, 0.2);

opacity: 1;
visibility: visible;
pointer-events: initial;

transition: opacity var(--anim), visibility var(--anim);
}

.backdrop-btn.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none ;
transition: opacity var(--anim), visibility var(--anim);
}

.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

min-width: 528px;
min-height: 581px;
background-color: var(--white-bg-color);
border-radius: 4px;
}

.modal-close-btn {
position: absolute;
top: 0;
right: 0;

margin: 17px 12px 0px 0px;

display: flex;
align-items: center;
justify-content: center;

width: 30px;
height: 30px;
  
background: #FFFFFF;
border: none;
padding: 0;
border-radius: 30px;
border: 1px solid rgba(0, 0, 0, 0.1);

transform: translate(0%, 0%);
cursor: pointer;
}


/* transition-property: color, background-color, box-shadow, transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

